<!-- ngIf -->
<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses" ></div>
<ng-template #coursesList>Courses List</ng-template>
<ng-template #noCourses>NO Courses</ng-template> -->
<!-- ----------------------------- -->

<!-- ngSwitch -->
<!-- <nav class="navbar  navbar-light bg-light">
  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active] = "viewMode == 'map'">
        <a class="nav-link" (click)="changeView('map')">Map View</a>
      </li>
      <li class="nav-item" [class.active] = "viewMode == 'list'">
        <a class="nav-link"  (click)="changeView('list')">List View</a>
      </li>
    </ul>
  </div>
</nav>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'"> Map View Content</div>
  <div *ngSwitchCase="'list'"> List View Content</div>
  <div *ngSwitchDefault> Others View Content</div>
</div> -->

<!-- ----------------------------- -->
<!-- ngIf -->
<!-- <button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; trackBy:trackCourse " >
    {{ course.name }}
    <button (click)="onRmove(course)" >Remove</button>
  </li>
</ul> -->

<!-- ----------------------------- -->
