<form [formGroup] = "form" (ngSubmit)="login()">
    <div *ngIf="form.errors">username or password is incorrect</div>
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            formControlName="username"
            id="username" 
            type="text" 
            class="form-control"
        >
        <div *ngIf="username?.pending">Checking..</div>
        <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger">
            <div *ngIf="username?.errors?.['required']">Username is required</div>
            <div *ngIf="username?.errors?.['cannotContainSpace']">Username should not contain spaces</div>
            <div *ngIf="username?.errors?.['minlength']">Username should be at least {{ username?.errors?.['minlength']?.requiredLength }} charecters</div>
            <div *ngIf="username?.errors?.['shouldbBeUnique']">Username is already token</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control"
        >
        <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">
            <div *ngIf="password?.errors?.['required']">Password is required</div>
            <div *ngIf="password?.errors?.['minlength']">Password should be at least {{ password?.errors?.['minlength']?.requiredLength }} charecters</div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>